/* ===== BASE STYLES ===== */

/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/
html {
  text-align: center;
  font-family: 'Roboto','Open Sans', sans-serif;
}
.ibody p{
  opacity: 1;
}
.ibody{
  background-image: url(../media/thinker.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}


#thinker{
  opacity: 0.3;
}
.navigation{
  border-bottom: 5px solid rgb(22, 19, 209);
}
h1 {
  font-size: 1.75em;
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 0.5em;
  list-style: none;
  margin: 0;
  text-align: center;
  color:rgb(11, 8, 163);
}



.index{

}

.ibody{
  text-align: center;
  color:rgb(22, 19, 209);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5),
  1px 1px 2px rgba(0, 0, 0, 0.5)
}
.index h2{
  font-size: 1.35em;
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 0.5em;
  margin-top: 2.5em;
}
.index p{
  font-size: 1.1em;
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 0.5em;
  margin: 0;
}
/* made for the about page*/
.about p{
  text-align: center;
  line-height: 2;
}
.about h2 {
  font-size: 1.182em;
  line-height: 0.75em; /* 26px / ~ 120% */
  padding: 0.5em;
  margin: 0;
  text-align: center;
  color:rgb(11, 8, 163);
}
.about ul{
  text-align: center;
  line-height: 2;
}
/*end of about style */
nav{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.logo {
  padding: 5px;
  position:fixed; 
	top:0; 
	left:0; 
  width: 7%;
  margin: auto;
  display: inline-flex;
  opacity: 0;
}
nav li{
  display:inline;
  font-size: 1.3em;
}
nav a{
  display:inline-flex;
  padding:10px;
  text-decoration:none;
  color:rgb(11, 8, 163);
}
nav a:hover {
  color:rgb(39, 167, 218);
}
h5{
	font-size:25pt;
	font-weight:bold;
	color:#F08080;
}

#checkbox-label{
	vertical-align:middle;
	display:inline-block;
}
input[type=checkbox]{
	display:inline;
}
.trip{
	background-color:#FAEBD7;
}

.dbody{
	background-image:url(../media/austria2.jpg);
	background-color: #cccccc;
	background-size: cover;
	height:100%;
	background-position:center;
	background-repeat:no-repeat;	
}
.navigation{
	background-color:white;
}


label{
	width:240px;
	font-size:15pt;
	margin:5px;
	display:inline-block;
	font-weight:bold;
	color:#A9A9A9;
	
}
input {
	border-radius:20px;
	border-color:black;
	display:block;
	padding:20px 20px;
	margin:auto;
	background-color:white;
	color:black;
	font-weight:bold;
	vertical-align:middle;
	
}
::placeholder{
	color:black;
}
input[type=submit]{
	width:240px;
	color:black;
	margin:auto;
	background-color:white;

}	
form {
	display:inline-block;

	text-align:center;

}
	

input:hover {


}
@media only screen and (min-width: 720px) {
  html {
    font-size: 125%;
  }
  .logo{
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 150%;
  }
  .logo{
    opacity: 1;
  }
}
